/*--------------GENERAL--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Rokkitt', serif;
    --black: #020202;
    --white: #FAFAFA;
    --grey: #545454;
    --beige: #E8E5DE;
    --green: #047562;
    --small-gap: 0.75rem;
    --landscape-small-gap: 1.5rem;
    --middle-gap: 1.5rem;
    --landscape-middle-gap: 3.75rem;
    --big-gap: 5rem;
    --landscape-big-gap: 6.75rem;
    --mobile-border-radius: 15px;
    --landscape-border-radius: 30px;
}

body{
    background-color: var(--white);
}

main{
    position: relative;
}

#particles-js{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--black)
}

h1 {
    font-size: 2.75rem;;
}

h2{
    font-size: 1.50rem;
    margin-bottom: var(--middle-gap);
    text-align: center;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-weight: 500;
    font-size: 0.85rem;
}

p, ul{
    font-family: var(--paragraph-font);
    color: var(--grey);
    font-size: 0.85rem;
}

section {
    padding-top: var(--big-gap);
}

nav, section{
    padding-left: 15vw;
    padding-right: 15vw;
}

a{
    text-decoration: none;
}

nav, footer{
    height: 4.5rem;
}


/*--------------HEADER--------------*/
header{
    padding: 30vh 0 0 15vw;
    height: 100vh;
    line-height: 1.25;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}

.greeting{
    font-weight: 800;
    text-align: left;
    margin-bottom: 0;
}

.name{
    color: var(--green);
    font-weight: 800;
}

.title{
    font-weight: 800;
}

.header-icons i{
    margin: var(--small-gap) var(--small-gap) 0 0;
}

.header-icons i:hover{
    animation: pulse 1s;
}

.header-icons a{
    color: var(--grey);
}

header button{
    background-color: var(--green);
    padding:0.6rem;
    height: 2.25rem;
    width: 7rem;
    border-radius: 9px;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin: var(--small-gap) var(--small-gap) var(--small-gap) 0;
    text-align: left;
}

.frontpage-button:hover{
    animation: pulse 1s;
    cursor: pointer;
}

button a{
    color: var(--white);
    font-size: 0.75rem;
    font-family: var(--heading-font);
    font-weight: 500;
}

header .fa-angle-double-down{
    color: var(--grey);
    display: block;
    margin-top: 2.75rem;
    animation: shakeY 15s infinite;
}

.small-green-blob{
    height: 6.25rem;
    position: absolute;
    top: -5vh;
    right: 82vw;
    animation: blobRotation 40s infinite;
}

.big-green-blob{
    height: 18.75rem;
    position: absolute;
    top: 70vh;
    right: -25vw;    
    animation: blobRotation 40s infinite;
}

.big-beige-blob{
    position: absolute;
    top: -11vh;
    right: 7vw;
    animation: blobRotation 20s infinite;
}

.small-beige-blob{
    position: absolute;
    top: 70vh;
    right: 87vw;
    animation: blobRotation 20s infinite;
}


/*--------------NAVBAR--------------*/
nav{
    background-color: var(--beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

nav i{
    color: var(--grey);
}

.toggle-sound-icon{
    margin-right: var(--small-gap);
    animation: heartBeat 4s infinite;
    cursor: pointer;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100vw;
}

.sticky + main {
    padding-top: 4.5rem;
}

menu{
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 4.4rem;
    padding-top: var(--small-gap);
    padding-bottom: var(--landscape-small-gap);
    background-color: var(--beige);
    padding-right: 15vw;
    z-index: 3;
    text-align: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

menu ul{
    list-style: none;
    font-size: 1rem;
    font-family: var(--heading-font);
    line-height: 1.5;
}

menu a{
    color: var(--grey);
    transition: 0.2s;
}

menu a:hover{
    font-weight: 800;
}

.sticky-menu{
    position: fixed;
    top: 4.4rem;
}




/*--------------VALUES--------------*/
#values{
    background-color: var(--beige);
    padding-bottom: var(--big-gap);
}

.value-container{
    background-color: var(--white);
    padding: var(--small-gap);
    display: flex;
    justify-content: space-between;
}

#top-value{
    border-radius: var(--mobile-border-radius) var(--mobile-border-radius) 0 0;
}

#bottom-value{
    border-radius: 0 0 var(--mobile-border-radius) var(--mobile-border-radius);
}

#top-value, #middle-value{
    margin-bottom: var(--small-gap);
}

.icon-container{
    height: 4.85rem;
    width: 4.85rem;
    background-color: var(--green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mobile-border-radius) var(--mobile-border-radius) 0px var(--mobile-border-radius);
}

#middle-icon-container{
    border-radius: var(--mobile-border-radius) var(--mobile-border-radius) var(--mobile-border-radius) 0px;
}

.icon-container i{
    color: var(--white)
}

.text-container{
    display: inline-block;
    width: 60%;
    text-align: right;
}

#middle-text-container{
    text-align: left;
}

.text-container h4{
    margin-bottom: var(--small-gap);
}


/*--------------SKILLS--------------*/
.background-bar{
    background-color: var(--beige);
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0.5rem;
    border-radius: 18px;
    margin-bottom: var(--small-gap);
    overflow: hidden;
}

.hard-progress-bar, .soft-progress-bar{
    background-color: var(--green);
    position: absolute;
    display: none;
    height: 0.5rem;
    border-radius: 18px;
}

.soft-progress-bar{
    right: 0;
}

.soft-skills{
    text-align: right;
}

#html-level{
    width: 85%;
}

#css-level{
    width: 75%;
}

#js-level{
    width: 65%;
}

#agile-level{
    width: 60%
}

#solving-level{
    width: 75%;
}

#team-level{
    width: 90%;
}


/*--------------PORTFOLIO--------------*/
.portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 17vh;
    grid-gap: var(--small-gap);
}

.project {
    background-color: var(--green);
    border: 1px solid var(--green);
    overflow: hidden;
    cursor: pointer;
}

#personal {
    background-image: url("images/personal-page.PNG");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--mobile-border-radius) 0px 0px 0px;
}

#doosti {
    background-image: url("images/doosti.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px var(--mobile-border-radius) 0px 0px;
    grid-row: auto / span 2;
}

#business-cards {
    background-image: url("images/business-cards.PNG");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: auto / span 2;
}

#rota {
    background-image: url("images/rota.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: auto / span 2;
}

#snake{
    background-image: url("images/snake.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: auto / span 2;
    border-radius: 0px 0px 0px var(--mobile-border-radius);
}

#box6{
    border-radius: 0px 0px var(--mobile-border-radius) 0px;
}

.projectInfo {
    background-color: var(--green);
    opacity: 80%;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.25;
    visibility: hidden;
    cursor: auto;
}

.projectInfo h4 {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: var(--small-gap);
    color: var(--white);
}

.projectInfo a {
    color: var(--white);
}

.projectInfo a:hover {
    font-weight: 800;
    cursor: pointer;
}


/*--------------POP-UP--------------*/
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box{
    position: absolute;
    background-color: var(--white);
    height: 70vh;
    width: 80vw;
    border-radius: var(--landscape-border-radius);
    padding: var(--landscape-small-gap);
    overflow: auto;
}

.fa-times{
    color:var(--grey);
    position: fixed;
    right: 18vw;
}

.fa-times:hover{
    color: var(--black);
    cursor: pointer;
}

.popup-box h3{
    text-align: center;
}

.popup-box h4{
    margin-bottom: var(--small-gap);
    margin-top: var(--landscape-small-gap);
    font-weight: 800;
}

.popup-box ul{
    padding-left: var(--small-gap);
}

.link{
    color: var(--grey);
    font-family: var(--paragraph-font);
    font-size: 1.1rem;
    margin-top: var(--landscape-small-gap);
    display: block;
    font-weight: 800;
}

.link:hover{
    color: var(--black);
}


/*--------------ABOUT--------------*/
#about p {
    text-align: center;
    padding-bottom: var(--big-gap);
}

/*--------------FOOTER--------------*/
footer{
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

footer a{
    color: var(--white);
}

footer i:hover{
    animation: pulse 1s;
}

.fa-linkedin-in, .fa-github {
    margin-right: var(--middle-gap);
}



/*--------------KEYFRAMES--------------*/
@keyframes fadeInProjectInfo{
    from {opacity: 0%}
    to {opacity: 80%}
}

@keyframes blobRotation{
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}



/*--------------LANDSCAPE STYLING--------------*/
@media only screen and (orientation: landscape) {
    /*--------------GENERAL--------------*/
    
    h1 {
        font-size: 4rem;
    }

    h2{
        font-size: 1.75rem;
        margin-bottom: var(--landscape-middle-gap);
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p, ul{
        font-size: 1rem;
    }

    section {
        padding-top: var(--landscape-big-gap);
    }

    section{
        padding-left: 18vw;
        padding-right: 18vw;
    }

    nav {
        padding-left: 10vw;
        padding-right: 10vw;
    }


    /*--------------NAVBAR/MENU--------------*/
    #toggle-menu{
        display: none;
    }

    #menu{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        top: 0;
        height: 4.5rem;
        right: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        padding: 0;
    }
    
    menu ul{
        line-height: 0;
        display: inline-flex;
        flex-direction: row;
    }

    menu li{
        margin-left: var(--landscape-small-gap);
    }
    
    .sticky-menu{
        top: 0;
    }


    /*--------------HEADER--------------*/
    header{
        padding: 25vh 0 0 18vw;
    }

    .header-icons i{
        margin: var(--landscape-small-gap) var(--landscape-small-gap) 0 0;
    }

    header button{
        padding: 0.75rem;
        height: 3.5rem;
        width: 10.75rem;
        border-radius: 14px;
        margin: var(--landscape-small-gap) var(--landscape-small-gap) var(--landscape-small-gap) 0;
    }

    button a{
        font-size: 1rem;
    }

    .small-green-blob{
        height: 7.5rem;
        top: 20vh;
        right: 19vw;
        animation: blobRotation 30s infinite;
    }
    
    .big-green-blob{
        height: 40rem;
        transform: rotate(5deg);
        top: 6vh; 
        right: 6vw; 
        animation: none;
    }
    
    .big-beige-blob{
        height: 8.25rem;
        top: 22vh;
        right: 36vw;
        animation: blobRotation 35s infinite;
    }
    
    .small-beige-blob{
        height: 5rem;
        top: 83vh;
        right: 13vw; 
        animation: blobRotation 40s infinite;
    }


    /*--------------VALUES--------------*/
    #values{
        padding-bottom: var(--landscape-big-gap);
    }

    #value-boxes {
        display: grid;
        grid-gap: var(--landscape-small-gap);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .value-container{
        display: flex;
        flex-direction: column;
        padding: var(--landscape-small-gap);
        justify-content: flex-start;
    }

    #top-value, #middle-value{
        margin-bottom: 0px;
    }

    .icon-container{
        width: 5.25rem;
        height: 5.25rem;
        border-radius: var(--landscape-border-radius) var(--landscape-border-radius) 0px var(--landscape-border-radius);
    }

    #middle-icon-container{
        border-radius: var(--landscape-border-radius) var(--landscape-border-radius) 0px var(--landscape-border-radius);
    }

    .text-container{
        width: 100%;
        text-align: left;
        margin-top: var(--landscape-small-gap);
    }

    #top-value{
        border-radius: var(--landscape-border-radius) 0 0 var(--landscape-border-radius);
    }
    
    #bottom-value{
        border-radius: 0 var(--landscape-border-radius) var(--landscape-border-radius) 0;
    }

    #middle-value{
        flex-direction: column-reverse;
    }


    /*--------------SKILLS--------------*/
    #skills h4 {
        margin-bottom: 2vh;
        font-size: 1rem;
    }

    .skill-graphs{
        display: flex;
        justify-content: space-between;
    }

    .background-bar{
        margin-bottom: var(--landscape-small-gap);
    }

    .hard-skills, .soft-skills{
        width: 29vw;
    }


    /*--------------PORTFOLIO--------------*/
    .portfolio-grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 30vh;
        grid-gap: var(--landscape-small-gap);
    }
    
    #personal{
        border-radius: var(--landscape-border-radius) 0px 0px 0px;
    }

    #doosti{
        grid-row: auto / span 1;
        grid-column: auto / span 2;
        border-radius: 0px var(--landscape-border-radius) 0px 0px;
    }
    
    #business-cards{
        grid-row: auto / span 1;
        grid-column: auto / span 2;
    }
    
    #rota {
        background-position: top;
        grid-row: auto / span 1;
    }
    
    #snake{
        grid-row: auto / span 1;
        border-radius: 0px 0px 0px var(--landscape-border-radius);
    }
    
    #box6{
        grid-column: auto / span 2;
        border-radius: 0px 0px var(--landscape-border-radius) 0px;
    }

    
    /*--------------ABOUT--------------*/
    #about p {
        padding-bottom: var(--landscape-big-gap);
    }


    /*--------------FOOTER--------------*/
    .fa-linkedin-in, .fa-github {
        margin-right: var(--landscape-middle-gap);
    }
}