/*--------------GENERAL--------------*/
* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

:root{
    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Rokkitt', serif;
    --black: #020202;
    --white: #FAFAFA;
    --grey: #545454;
    --beige: #E8E5DE;
    --green: #047562;
}

body{
    background-color: var(--white);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--black)
}

p{
    font-family: var(--paragraph-font);
    color: var(--grey);
}

nav, main{
    padding: 0 15vw;
}
